
.page-header h1{
    margin-top:0;
}
/* entry */
.entry{
    margin-bottom: 3em;
}
.comment{
    margin-top: 1em;
    margin-bottom: 2em;
}
.entry-title, .entry-content, .markItUpFooter, 
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6, 
.markItUpFooter h1, .markItUpFooter h2, .markItUpFooter h3, .markItUpFooter h4, .markItUpFooter h5, .markItUpFooter h6 {
    font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}
.entry-content {
    margin-bottom: 0.5em;
}
.preview-warning-block{
    background-color: #dce4ec;
    border: 1px solid #dce4ec;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 2px;
}
.entry-content .preview-warning-block{
    display: none;
}
.draft .entry-title::after{
    content:" (draft)";
}

.entry-meta>span.by::before{
    content:"";
}
.entry-meta>span.at:before{
    content:" - ";
}

.entry-meta>span.to:before{
    content:" (in reply to ";
}
.entry-meta>span.to:after{
    content:")";
}
.entry-meta>span{
    color:#b4bcc2;
}


.entry-meta{
    margin-bottom:1em;
}
.entry-menu{
    list-style-type: none;
    padding-left:0;
    text-transform:lowercase;
}
.inline-menu{
    display:inline-block;
    margin-left:1.5em;
}
.entry-menu>li{
    display: inline-block;
}
.entry-menu>li + li{
    margin-left:1em;
}
.entry-menu a{
    display: inline-block;
    color:#b4bcc2;
    padding-bottom: 0.5em;
}


/* math */
.navbar, .footer{
    min-width: 15cm;
}
.wrap {
    width: 100%;
    min-width: 14.3cm;
    max-width:22cm;
    margin:auto;
}
.entry-content .entry-content-wrapper, .markItUpFooter .entry-content-wrapper{
    width:14.2cm;
    margin:auto;
    color:black;
}
.markItUpFooter .entry-content-wrapper:empty{
    display:none;
}

.math{display: inline-block;}
.display.math{
    display: block; 
    text-align: center; 
    margin: 0.5rem auto;
}

div.mark{
    padding: 1em 2em 0.5em;
}
.theorem-like, .proof-like{
    position: relative;
}
.theorem-like::before, .proof-like::before {
    content: attr(data-label)'.\00a0';
    font-weight: bold;
    float: left;
}
.proof-like>*:last-child::after{ 
    content: "";
    border: 1px solid black;
    padding: 0.3em;
    float: right;
}
blockquote{
    font-size:inherit;
}
  
/* CSS for citations */
div.csl-bib-body {
    margin-bottom: 10.5px;
}
div.csl-entry {
    clear: both;
}
.hanging-indent div.csl-entry {
    margin-left:2em;
    text-indent:-2em;
}
div.csl-left-margin {
    min-width:2em;
    float:left;
}
div.csl-right-inline {
    margin-left:2em;
    padding-left:1em;
}
div.csl-indent {
    margin-left: 2em;
}

/* CSS for task lists */
ul.task-list[class]{list-style: none;}
ul.task-list li input[type="checkbox"] {
  margin-left:  -1.6em;
}

/* CSS for tables */
table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}
table caption {
    margin-bottom: 0.75em;
}
tbody {
    margin-top: 0.5em;
    border-top: 1px solid #dce4ec;
    border-bottom: 1px solid #dce4ec;
}
th {
    border-top: 1px solid #dce4ec;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

/* alert */
.alert a{
    color:white;
}
.alert a.view{
    float:right;text-decoration: underline;
}
/* dialog */
.ui-dialog{
    min-width:10cm;
}

/* float */
.float-left{
    float:left;
}
.float-right{
    float:right;
}

/* other */
.note{
    color:#b4bcc2;
}

@media screen and (min-width: 15.5cm){
    body{
        background-color: #f8f8f8;
    }
    .entry-content {
        background-color: white;
        border: 1px solid #dce4ec;
    }
    .entry-content-wrapper{
        padding:1em 0 0.5em;
    }
}
@media screen and (max-width: 15.5cm){
    .markItUpContainer{
        border:none;
    }
    .markItUpContainer .markItUpHeader{
        border: 1px solid #dce4ec;
        border-bottom: none;
    }
    .markItUpContainer .markItUpFooter{
        border-bottom:1px solid #dce4ec;
    }
}