section{
    margin-bottom:4em;
}
.entries>ul, .tags>ul {
    list-style:none;
    padding-left:0;
}

.entries>ul>li{
    border-bottom:1px solid #dce4ec;
    padding-bottom:1em;
}
.entries>ul>li>a>h2, .entries>ul>li>a>h3, .tags ul>li>a {
    color:black;
}

.tags ul>li{
    display:inline-block;
    padding:0.5em;
    background-color:whitesmoke;
    margin-bottom:1em;
}
li h1{
    color:black;
    font-size:2em;
}
