body{
    background-color: #f8f9f8;
}
.page-header{
    margin:0;
}
/* entry */
.entry{
    margin-bottom: 3em;
}
.entry-content {
    background-color: white;
    border: 1px solid #dce4ec;
    margin-bottom: 0.5em;
}
.draft .entry-title::after{
    content:" (draft)";
}

.entry-meta>span.by::before{
    content:"by ";
}
.entry-meta>span.at:before{
    content:"on ";
}
.entry-meta>span.to:before{
    content:"to ";
}
.entry-meta>span{
    color:#b4bcc2;
    margin-right:1em;
}
.entry-meta>span:last-child{
    margin-right:0;
}

.entry-meta{
    margin-bottom:1em;
}
.entry-menu{
    list-style-type: none;
    padding-left:0;
    text-transform:lowercase;
}
.inline-menu{
    display:inline-block;
    margin-left:1.5em;
}
.entry-menu>li{
    display: inline-block;
}
.entry-menu>li + li{
    margin-left:1em;
}
.entry-menu a{
    display: inline-block;
    color:#b4bcc2;
    padding-bottom: 0.5em;
}


/* math */
.navbar, .footer{
    min-width: 15cm;
}
.wrap {
    width: 100%;
    min-width: 14.3cm;
    max-width:22cm;
    margin:auto;
}
.entry-content article, .markItUpFooter article{
    width:14.2cm;
    margin:auto;
    color:black;
    padding:1em 0.2cm 0.5em;
}
.markItUpFooter article:empty{
    display:none;
}

.math{display: inline-block;}
.display.math{
    display: block; 
    text-align: center; 
    margin: 0.5rem auto;
}

div.mark{
    padding: 1em 2em 0.5em;
}
.theorem-like, .proof-like{
    position: relative;
}
.theorem-like::before, .proof-like::before {
    content: attr(data-label)'.\00a0';
    font-weight: bold;
    float: left;
}
.proof-like>*:last-child::after{ 
    content: "";
    border: 1px solid black;
    padding: 0.4em;
    position: absolute;
    bottom: 0;
    right: 0;
}
blockquote{
    font-size:inherit;
}
  
/* CSS for citations */
div.csl-bib-body {
    margin-bottom: 10.5px;
}
div.csl-entry {
    clear: both;
}
.hanging-indent div.csl-entry {
    margin-left:2em;
    text-indent:-2em;
}
div.csl-left-margin {
    min-width:2em;
    float:left;
}
div.csl-right-inline {
    margin-left:2em;
    padding-left:1em;
}
div.csl-indent {
    margin-left: 2em;
}

/* CSS for task lists */
ul.task-list[class]{list-style: none;}
ul.task-list li input[type="checkbox"] {
  margin-left:  -1.6em;
}

/* CSS for tables */
table {
    margin: 1em 0;
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
    font-variant-numeric: lining-nums tabular-nums;
}
table caption {
    margin-bottom: 0.75em;
}
tbody {
    margin-top: 0.5em;
    border-top: 1px solid #dce4ec;
    border-bottom: 1px solid #dce4ec;
}
th {
    border-top: 1px solid #dce4ec;
    padding: 0.25em 0.5em 0.25em 0.5em;
}
td {
    padding: 0.125em 0.5em 0.25em 0.5em;
}

/* alert */
.alert a{
    color:white;
}
.alert a.view{
    float:right;text-decoration: underline;
}
/* dialog */
.ui-dialog{
    min-width:10cm;
}

/* flaot */
.float-left{
    float:left;
}
.float-right{
    float:right;
}